@using BlueRaven.Web.Models;
@using BlueRaven.Web.ViewComponents;

@model BlogModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@Model.Blog.Title</title>
	@if(!string.IsNullOrWhiteSpace(Model.Blog.FaviconUrl))
	{
		<link rel='shortcut icon' type='image/x-icon' href='@Model.Blog.FaviconUrl' />
	}

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/vendor.css" />
        <link rel="stylesheet" href="~/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/vendor.min.css" />
		<!-- TODO: Minify this! -->
        <link rel="stylesheet" href="~/site.css" asp-append-version="true" />
    </environment>
	@RenderSection("Styles", required: false)
</head>
<body>
	<header>
		@await Html.PartialAsync("_NavPartial", Model)
	</header>
<main>
    <div class="container body-content">
        @RenderBody()
    </div>
	</main>
	<footer class="page-footer container">
		@await Component.InvokeAsync(typeof(CopyrightViewComponent))
	</footer>

    <environment include="Development">
        <script src="~/vendor.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/vendor.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
